/.vs/ToyRobot/v15/.suo
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide-shm
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide-wal
/ToyRobot/bin/Debug/ToyRobot.exe
/ToyRobot/bin/Debug/ToyRobot.exe.config
/ToyRobot/bin/Debug/ToyRobot.pdb
/ToyRobot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ToyRobot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ToyRobot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ToyRobot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ToyRobot/obj/Debug/ToyRobot.csproj.CoreCompileInputs.cache
/ToyRobot/obj/Debug/ToyRobot.csproj.FileListAbsolute.txt
/ToyRobot/obj/Debug/ToyRobot.csprojResolveAssemblyReference.cache
/ToyRobot/obj/Debug/ToyRobot.exe
/ToyRobot/obj/Debug/ToyRobot.pdb
/.vs/ToyRobot/v15/Server/sqlite3/db.lock
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/ToyRobotTest/bin/Debug/ToyRobot.exe
/ToyRobotTest/bin/Debug/ToyRobot.exe.config
/ToyRobotTest/bin/Debug/ToyRobot.pdb
/ToyRobotTest/bin/Debug/ToyRobotTest.dll
/ToyRobotTest/bin/Debug/ToyRobotTest.pdb
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.CopyComplete
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.CoreCompileInputs.cache
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.FileListAbsolute.txt
/ToyRobotTest/obj/Debug/ToyRobotTest.csprojResolveAssemblyReference.cache
/ToyRobotTest/obj/Debug/ToyRobotTest.dll
/ToyRobotTest/obj/Debug/ToyRobotTest.pdb
/Robot/bin/Debug/ToyRobot.dll
/Robot/bin/Debug/ToyRobot.pdb
/Robot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Robot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Robot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Robot/obj/Debug/ToyRobot.csproj.CoreCompileInputs.cache
/Robot/obj/Debug/ToyRobot.csproj.FileListAbsolute.txt
/Robot/obj/Debug/ToyRobot.dll
/Robot/obj/Debug/ToyRobot.pdb
/ToyRobot/bin/Debug/TestData/test.txt
/ToyRobot/bin/Debug/ToyRobot.dll
/ToyRobot/bin/Debug/ToyRobotSimulator.exe
/ToyRobot/bin/Debug/ToyRobotSimulator.exe.config
/ToyRobot/bin/Debug/ToyRobotSimulator.pdb
/ToyRobot/obj/Debug/ToyRobotSimulator.csproj.CopyComplete
/ToyRobot/obj/Debug/ToyRobotSimulator.csproj.CoreCompileInputs.cache
/ToyRobot/obj/Debug/ToyRobotSimulator.csproj.FileListAbsolute.txt
/ToyRobot/obj/Debug/ToyRobotSimulator.csprojResolveAssemblyReference.cache
/ToyRobot/obj/Debug/ToyRobotSimulator.exe
/ToyRobot/obj/Debug/ToyRobotSimulator.pdb
/ToyRobotTest/bin/Debug/TestData/test.txt
/ToyRobotTest/bin/Debug/ToyRobot.dll
/ToyRobotTest/bin/Debug/ToyRobotSimulator.exe
/ToyRobotTest/bin/Debug/ToyRobotSimulator.exe.config
/ToyRobotTest/bin/Debug/ToyRobotSimulator.pdb
/ToyRobotTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages/MSTest.TestAdapter.1.1.11/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/packages/MSTest.TestAdapter.1.1.11/build/net45/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.1.11/build/net45/MSTest.TestAdapter.targets
/packages/MSTest.TestAdapter.1.1.11/build/netstandard1.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestAdapter.1.1.11/build/netstandard1.0/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.1.11/build/uap10.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/packages/MSTest.TestAdapter.1.1.11/build/uap10.0/MSTest.TestAdapter.props
/packages/MSTest.TestAdapter.1.1.11/build/uap10.0/MSTest.TestAdapter.targets
/packages/MSTest.TestAdapter.1.1.11/MSTest.TestAdapter.1.1.11.nupkg
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/de/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/es/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/it/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/dotnet/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.1.11/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.1.11/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/netcoreapp1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
/packages/MSTest.TestFramework.1.1.11/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
/packages/MSTest.TestFramework.1.1.11/MSTest.TestFramework.1.1.11.nupkg
/Logger/bin/Debug/Logger.dll
/Logger/bin/Debug/Logger.pdb
/Logger/bin/Debug/NLog.dll
/Logger/bin/Debug/NLog.xml
/Logger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Logger/obj/Debug/Logger.csproj.CoreCompileInputs.cache
/Logger/obj/Debug/Logger.dll
/Logger/obj/Debug/Logger.pdb
/Logger/obj/Debug/RLogger.csproj.CopyComplete
/Logger/obj/Debug/RLogger.csproj.CoreCompileInputs.cache
/Logger/obj/Debug/RLogger.csproj.FileListAbsolute.txt
/Logger/obj/Debug/RLogger.csprojResolveAssemblyReference.cache
/Logger/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Logger/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Logger/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/NLog.4.5.0/lib/monoandroid44/NLog.dll
/packages/NLog.4.5.0/lib/monoandroid44/NLog.xml
/packages/NLog.4.5.0/lib/net35/NLog.dll
/packages/NLog.4.5.0/lib/net35/NLog.xml
/packages/NLog.4.5.0/lib/net40-client/NLog.dll
/packages/NLog.4.5.0/lib/net40-client/NLog.xml
/packages/NLog.4.5.0/lib/net45/NLog.dll
/packages/NLog.4.5.0/lib/net45/NLog.xml
/packages/NLog.4.5.0/lib/netstandard1.3/NLog.dll
/packages/NLog.4.5.0/lib/netstandard1.3/NLog.xml
/packages/NLog.4.5.0/lib/netstandard1.5/NLog.dll
/packages/NLog.4.5.0/lib/netstandard1.5/NLog.xml
/packages/NLog.4.5.0/lib/netstandard2.0/NLog.dll
/packages/NLog.4.5.0/lib/netstandard2.0/NLog.xml
/packages/NLog.4.5.0/lib/sl4/NLog.dll
/packages/NLog.4.5.0/lib/sl4/NLog.xml
/packages/NLog.4.5.0/lib/sl5/NLog.dll
/packages/NLog.4.5.0/lib/sl5/NLog.xml
/packages/NLog.4.5.0/lib/wp8/NLog.dll
/packages/NLog.4.5.0/lib/wp8/NLog.xml
/packages/NLog.4.5.0/lib/xamarinios10/NLog.dll
/packages/NLog.4.5.0/lib/xamarinios10/NLog.xml
/packages/NLog.4.5.0/NLog.4.5.0.nupkg
/packages/NLog.Config.4.5.0/content/NLog.config
/packages/NLog.Config.4.5.0/contentFiles/any/any/NLog.config
/packages/NLog.Config.4.5.0/NLog.Config.4.5.0.nupkg
/packages/NLog.Schema.4.5.0/content/NLog.xsd
/packages/NLog.Schema.4.5.0/contentFiles/any/any/NLog.xsd
/packages/NLog.Schema.4.5.0/NLog.Schema.4.5.0.nupkg
/Robot/obj/Debug/ToyRobot.csprojResolveAssemblyReference.cache
/ToyRobotSimulator/bin/Debug/Logger.dll
/ToyRobotSimulator/bin/Debug/Logger.pdb
/ToyRobotSimulator/bin/Debug/NLog.config
/ToyRobotSimulator/bin/Debug/NLog.dll
/ToyRobotSimulator/bin/Debug/NLog.xml
/ToyRobotSimulator/bin/Debug/TestData/test.txt
/ToyRobotSimulator/bin/Debug/ToyRobot.dll
/ToyRobotSimulator/bin/Debug/ToyRobot.pdb
/ToyRobotSimulator/bin/Debug/ToyRobotSimulator.exe
/ToyRobotSimulator/bin/Debug/ToyRobotSimulator.exe.config
/ToyRobotSimulator/bin/Debug/ToyRobotSimulator.pdb
/ToyRobotSimulator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ToyRobotSimulator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ToyRobotSimulator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ToyRobotSimulator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.csproj.CopyComplete
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.csproj.CoreCompileInputs.cache
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.csproj.FileListAbsolute.txt
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.csprojResolveAssemblyReference.cache
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.exe
/ToyRobotSimulator/obj/Debug/ToyRobotSimulator.pdb
/ToyRobotTest/bin/Debug/Logger.dll
/ToyRobotTest/bin/Debug/Logger.pdb
/ToyRobotTest/bin/Debug/NLog.config
/ToyRobotTest/bin/Debug/NLog.dll
/ToyRobotTest/bin/Debug/NLog.xml
