/.vs/ToyRobot/v15/.suo
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide-shm
/.vs/ToyRobot/v15/Server/sqlite3/storage.ide-wal
/ToyRobot/bin/Debug/ToyRobot.exe
/ToyRobot/bin/Debug/ToyRobot.exe.config
/ToyRobot/bin/Debug/ToyRobot.pdb
/ToyRobot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ToyRobot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ToyRobot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ToyRobot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ToyRobot/obj/Debug/ToyRobot.csproj.CoreCompileInputs.cache
/ToyRobot/obj/Debug/ToyRobot.csproj.FileListAbsolute.txt
/ToyRobot/obj/Debug/ToyRobot.csprojResolveAssemblyReference.cache
/ToyRobot/obj/Debug/ToyRobot.exe
/ToyRobot/obj/Debug/ToyRobot.pdb
/.vs/ToyRobot/v15/Server/sqlite3/db.lock
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/ToyRobotTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/ToyRobotTest/bin/Debug/ToyRobot.exe
/ToyRobotTest/bin/Debug/ToyRobot.exe.config
/ToyRobotTest/bin/Debug/ToyRobot.pdb
/ToyRobotTest/bin/Debug/ToyRobotTest.dll
/ToyRobotTest/bin/Debug/ToyRobotTest.pdb
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ToyRobotTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.CopyComplete
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.CoreCompileInputs.cache
/ToyRobotTest/obj/Debug/ToyRobotTest.csproj.FileListAbsolute.txt
/ToyRobotTest/obj/Debug/ToyRobotTest.csprojResolveAssemblyReference.cache
/ToyRobotTest/obj/Debug/ToyRobotTest.dll
/ToyRobotTest/obj/Debug/ToyRobotTest.pdb
